/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap'); */
*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0px;
    left: 0px;
}

#navbar::before{
    content: "";
    background-color: rgba(18, 21, 39, 0.918);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#logo{
    margin: 0.4rem 0.4rem 0.4rem 3.6rem;
}

#logo h1{
    padding: 0.5rem;
}
#navbar-list{
    display: flex;
}

#navbar-list li{
    margin: 0.2rem 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    color: white;
}

/* #navbar-list li a{
    font-size: 1.8rem;
    color: white;
} */

#navbar-list li:hover{
    color: rgba(238, 89, 34, 0.877);
}
#section-first{
    height: 562px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section-first::before{
    content: "";
    background: url('pictures/bgimage.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.79;

}

#section-first h2{
    margin: 0rem 0rem 2.5rem 0rem;
}
#section-second{
    height: 100%;
    width:100%;
    color: white;
    position: relative;
    top: 0px;
}

#section-second::before{
    content: "";
    background-color: rgba(11, 17, 37, 0.753);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 27px;
    left: 0px;
    z-index: -1;
}
#choose-program{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}
div#program-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}

div.select-program{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

div.select-program-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.select-program-item img{
    height: 90px;
}

.program-content h4{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 1rem;
}

.program-content p{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 1rem;
}

.program-content a{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 1rem;
    color: rgb(253, 142, 101);
}

.program-content a:hover{
    text-decoration: underline;
}
#our-classes{
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1.5rem;
}

#our-classes-container{
    display: flex;
    margin: auto;
    width: 75%;
    justify-content: center;
}


.class-item{
    display: flex;
    background-color: white;
    margin: 1rem 1rem;
    padding: 1.5rem 0.8rem;
    align-items: center;
}

.class-item a h4{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 1rem;
    color: black;
}

.class-item h4:hover{
    color: rgb(243, 76, 16);
}

.class-item img{
    height: 30px;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

h4#first{
    color: rgb(243, 76, 16);
}

.class-schedule{
    background-color: rgb(243, 76, 16);
    margin: 1rem 1rem;
    padding: 1.7rem 7.1rem;
}

.class-schedule h4{
    color: white;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.class-schedule h4:hover{
    color: black;
}

#our-class-details{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

#our-class-details img{
    height: 180px;
    margin: 1rem 1rem 0.5rem 3rem;
}

#our-class-details > h4{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 0rem 0.5rem 3rem;
}

#our-class-details p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 0rem 0rem 3rem;
}

div.class-btn{
    background-color: rgb(243, 76, 16);
    margin: 1.2rem 1rem 1.2rem 3rem;
    padding: 1.2rem 2rem;
    display: inline-block;
    width: 24%;
}

.class-btn h4{
    color: white;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.class-btn h4:hover{
    color: black;
}
#section-third{
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    color: white;
}

#section-third::before{
    content: "";
    background: url('pictures/schedule-bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#classes-schedule-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}

#classes-schedule-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#classes-schedule-table{
    margin: 1.5rem;
}

#classes-schedule-details table, th, td{
    border: 2px solid rgb(243, 76, 16);
    border-collapse: collapse;
}

#classes-schedule-table th,td{
    padding: 1.8rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}
#contact-us{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
}

#contact-us::before{
    content: "";
    background: url('pictures/contact-bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#contact-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}

#contact-section{
    display: flex;
    justify-content: space-evenly;
}

#contact-details{
    margin: 1.5rem;
    padding: 1.5rem;
}

#contact-details h4{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(243, 76, 16);
}

#contact-details p{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 1rem;
}

.fa-map-marker-alt,.fa-phone,.fa-envelope,.fa-facebook,.fa-instagram,.fa-twitter{
    font-size: 2rem;
    margin: 0rem 1rem;
}

#give-feedback{
    background-color: rgba(11, 15, 37, 0.753);
    color: white;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

#give-feedback h2{
    text-align: center;
}

#contact-form label{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0rem 1.5rem;
}

#contact-form input,textarea{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
    margin: 0.8rem;
    border-radius: 1rem;
}

#contact-form textarea{
    resize: none;
}

#contact-form button{
    border: 0.2rem solid wheat;
    border-radius: 2rem;
    background-color: rgba(165, 49, 7, 0.884);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 60%;
    margin: 0.8rem auto;
}

#contact-form button:hover{
    background-color: rgba(18, 21, 39, 0.918);
}

#footer{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem 0.3rem;
    background-color: rgba(11, 15, 37, 0.753);
    color: white;
}

.font-large{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.font-extra-large{
    font-size: 7rem;
    font-family: 'Oswald', sans-serif;
}

.font-medium{
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
}

.color-white{
    color: rgb(255, 255, 255);
}

.color-orange{
    color: rgb(243, 76, 16);
}

.section-second-paragraph{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0.3rem 1.5rem;
}

.section-second-heading-margin{
    margin:1.5rem 0.2rem 1rem 0.2rem;
}

.section-second-img-margin{
    margin: 0.5rem 0.2rem 1rem 0.2rem;
}
.btn-primary-style{
    border: 0.2rem solid wheat;
    border-radius: 2rem;
    background-color: rgba(165, 49, 7, 0.884);
    color: white;
}

.btn-primary-md{
    margin: 0.2rem 9rem 0.2rem 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary-lg{
    margin: 1.5rem 0.5rem;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary-style:hover{
    background-color: rgba(18, 21, 39, 0.918);
}
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.insp{
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
    
}
.ab{
    background-image: url("pictures/about.jpg");
    position: absolute;
    background-size: cover;
    margin-top: 30px;
    height: 70%;
    width: 100%;
    z-index: -1;
}
.lo{
    margin-top: 200px;
    margin-left: 550px;
}
#story{
    margin-top: 500px;
    margin-left:600px ;
    
}
.st{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
    margin-bottom: 30px;
}
#ad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.loca{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
    margin-left: 90px;
}
.addres{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.address{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#cimg{
    background-image: url("pictures/contact.jpg");
    height: 380px;
    width: 100%;
    position: absolute;
    background-size: cover;
    margin-top: 160px;
}
.call{
    margin-top: 310px;
}
#quo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left:300px ;
    
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 4rem;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    background-image: url("pictures/classes-img.jpg");
    background-size: cover;
    height: 350px;
}
footer .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    color: aliceblue;
   
}
footer .logo{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;

}
footer p{
    font-size: 13x;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #e7f4f8;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: aliceblue;
    padding-right: 4px;
    cursor: pointer;
    font-size: 2rem;
}
footer .row img{
    border: 1px solid #f04e0f;
    border-radius: 6px;
}
footer .follow i:hover{
    color: #f04e0f;
}
footer a:hover{
    color: #f04e0f;
}
footer .copy{
    width: 100%;
    text-align: center;}
#cp{
    font-size: 2rem;
}
.yoga{
    background-image: url("pictures/yoga1.jpeg");
    display: flex;
    height: 300px;
    width: 750px;
    display: inline-block;
}
.yoga1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-left: 760px;
    margin-right: 10px;
    margin-top: 30px;
    font-weight: bold;
    
}
#ru{
    font-size: 1.8rem;
}
.cardio{
    background-image: url("pictures/cardio.jpg");
    display: flex;
    height: 300px;
    width: 750px;
    display: inline-block;
}
.muscle{
    background-image: url("pictures/muscle.png");
    display: flex;
    height: 300px;
    width: 750px;
    display: inline-block;
}
.buy{
    font-size: 3rem;
    font-family:  'Brush Script MT', 'cursive';
    width: 170px;
    margin-left: 860px;
    margin-right: 10px;
    margin-top: 30px;
    font-weight: bold;
   background-color: #f04e0f;
   color: aliceblue;
}
.buy:hover{
    color: black;
}
#signin{
    background-image: url("pictures/signin.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
}
#si{
   text-align: center;
   color: antiquewhite;
}
#sign{
   width: 25%;
   margin-left: 40%;
   margin-top: 10%;
   border: black;
   border-radius: 2%;
}
#SIGNIN{
    margin-left: 90PX;
    text-align: center;
}
#sign label{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0rem 1.5rem;
    color: rgb(255, 167, 4);
}

#sign input,textarea{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
    margin: 0.8rem;
    border-radius: 1rem;
}
#sign button .in{
    border: 0.2rem solid wheat;
    border-radius: 2rem;
    background-color: rgba(165, 49, 7, 0.884);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 60%;
    margin: 0.8rem auto;
}

#sign button .in:hover{
    background-color: rgba(18, 21, 39, 0.918);
}